@{
    ViewData["Title"] = "Sobre o que tenho feito";
}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Menssagem"]</h3>

<p>Ola! Me chamo @ViewData["Nome"], estou apredendo a criar paginas em MVC</p>

<address>
    <strong>Meu email é @ViewData["email"]</strong><a href="https://docs.microsoft.com/en-us/ef/"> Entity Framework Core </a>
</address>
