@model SalesWebMvc.Models.Login

<h2>Login</h2>
<form action="/Login/Buscar" method="post">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userId" class="form-label">Usuário</label>
            <input asp-for="Usuario" type="text" class="form-control" name="Usuario" id="Usuario" placeholder="nome@exemplo.com" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userPassword" class="form-label text-left">Senha</label>
            <input asp-for="Senha" type="password" class="form-control" name="Senha" id="Senha" placeholder="Digite a Senha" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="button">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="button">
            <button class="btn btn-primary" type="submit">Criar</button>
        </div>
    </div>
</form>
