
<h2>Login</h2>

<form action="/Login/ChecarLogin" method="post">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userId" class="col-form-label">Usuário</label>
            <input type="email" class="form-control" name="Email" id="Email"
                   placeholder="nome@exemplo.com" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-left">
            <label for="userPassword" class="col-form-label text-left">Senha</label>
            <input type="password" class="form-control" name="PassWord" id="PassWord"
                   placeholder="senha123" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="button">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </div>
</form>